<div class="ml-5 mt-3">
    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="img" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>recipe name</h1>
        </div>
    </div>
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Add ingredients to shopping list</a>
                <a class="dropdown-item" href="#">Edit recipe</a>
                <a class="dropdown-item" href="#">Delete recipe</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Description
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            ingredients
        </div>
    </div>
</div>