<div class="row">
    <div class="col-xs-12">
        <form action="#">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">amount</label>
                    <input type="number" id="amount" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success mr-1" type="submit">Add</button>
                    <button class="btn btn-danger mr-1" type="button">delete</button>
                    <button class="btn btn-primary" type="button">clear</button>
                </div>
            </div>
        </form>
    </div>
</div>